$containerMaxWidth: 1352px;
$white: #ffffff;
$black: #000000;
$dark20: #202020;
$fontTT400: 'TT Firs Neue';
$fontRobotoReg400: 'Roboto';
$fontStandart: Arial, Helvetica, sans-serif;
$dark33: #333333;
$orange30: #FF6E30;
$lilac5e: #5c1d5e;
$hover3b: #2d0d3b;
$section-m-b: 100px;
